/* =================================== */

/*  Footer Styles 
/* =================================== */

.footer-section {
    padding: 29px 0;

    .copyright-text {
        text-align: center;
        color: $white!important;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $black;
        width: 100%;
        padding: 14px 75px;
        i {
            color: $white;
        }

        p {
            margin: 5px 0 0 0;
        }
        .logo-footer {
            width: 170px;
        }
    }
    
    #social {
        text-align: center;
        li {
            display: inline-block;
            a {
                color: $white;
                text-align: center;
                display: block;
                margin-right: 15px;
                @include transition();
                i {
                    font-size: 27px;
                }
                &:hover{
                    color:$primary-color;
                    border-color:$primary-color;
                }
            }
        }
    }
}